@import '../../styles/variables.scss';

.centerSession {
  border-radius: $borderRadius;

  .vaccineInfo,
  .doseInfo {
    display: flex;
    padding: 0.5rem;
  }

  .doseInfo {
    justify-content: space-between;
    & > div {
      text-align: center;
    }

    p,
    h3 {
      margin: 0;
      line-height: 1;
    }
    h3 {
      font-weight: 700;
    }
  }
}

:global(.light) {
  .centerSession {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }
  .doseInfo {
    background-color: $sheetAccent1;

    p {
      color: $textLight;
    }
  }
}
:global(.dark) {
  .centerSession {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }
  .doseInfo {
    background-color: $darkSheetAccent1;

    p {
      color: $darkTextLight;
    }
  }
}
