@import '../../styles/variables.scss';

label.appSelectLabel {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

select.appSelectField {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  border: none;
  border-radius: $borderRadius;
  // appearance: none;

  &:focus {
    border: 1px solid $primaryColor;
  }
}

.appSelectErrorMessage {
  font-size: 0.85rem;
  color: $dangerColor;
  margin-top: 4px;
}

:global(.light) {
  label.appSelectLabel {
    color: $textMutedColor;
  }
  select.appSelectField {
    color: $textColor;
    background-color: $surfaceColor;
  }
}
:global(.dark) {
  label.appSelectLabel {
    color: $darkTextMutedColor;
  }
  select.appSelectField {
    color: $darkTextColor;
    background-color: $darkSurfaceColor;
  }
}
