/* Colors */
// Light
$primaryColor: hsl(206, 49%, 40%);
$primaryLighter: hsl(206, 50%, 90%);
$primaryLightest: hsl(206, 25%, 90%);
$primaryDark: hsl(206, 71%, 24%);

$successColor: hsl(132, 45%, 50%);
$successLightest: hsl(132, 61%, 92%);
$successDark: hsl(132, 100%, 28%);

$dangerColor: hsl(349, 97%, 60%);
$dangerLightest: hsl(349, 89%, 93%);
$dangerDark: hsl(348, 89%, 44%);

$warningColor: hsl(52, 75%, 54%);
$warningLightest: hsl(53, 71%, 91%);
$warningDark: hsl(52, 65%, 34%);

$textColor: hsl(0, 0%, 13%);
$textMutedColor: hsl(212, 14%, 47%);
$textLight: hsl(0, 0%, 50%);

$surfaceColor: hsl(206, 30%, 95%);

$sheetColor: hsl(0, 0%, 99%);
$sheetAccent1: hsl(204, 33%, 95%);

// Dark
$darkPrimaryColor: hsl(206, 75%, 61%);
$darkPrimaryLighter: hsl(206, 40%, 30%);
$darkPrimaryLightest: hsl(206, 28%, 24%);
$darkPrimaryDark: hsl(205, 96%, 81%);

$darkSuccessColor: hsl(132, 45%, 50%);
$darkSuccessLightest: hsl(133, 41%, 23%);
$darkSuccessDark: hsl(133, 97%, 46%);

$darkDangerColor: hsl(349, 97%, 60%);
$darkDangerLightest: hsl(349, 28%, 24%);
$darkDangerDark: hsl(355, 100%, 51%);

$darkWarningColor: hsl(52, 75%, 54%);
$darkWarningLightest: hsl(53, 73%, 19%);
$darkWarningDark: hsl(51, 75%, 55%);

$darkTextColor: hsl(240, 8%, 97%);
$darkTextMutedColor: hsl(211, 27%, 65%);
$darkTextLight: hsl(0, 0%, 80%);

$darkSurfaceColor: hsl(0, 0%, 13%);

$darkSheetColor: hsl(0, 0%, 16%);
$darkSheetAccent1: hsl(0, 0%, 14%);

// Defaults
$fontSize: 14px;
$borderRadius: 4px;

$headerHeight: 56px;
$footerHeight: 48px;

$thinShadow: 2px 4px 12px hsla(206, 42, 49, 0.05);
$darkThinShadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
