@import '../../styles/variables.scss';

.appSectionText {
  font-size: 1.25rem;
}

.appSectionTitleBar {
  width: 100px;
  border-width: 3px;
  border-radius: 2px;
  margin: 0.5rem auto 0.5rem 0;
}

:global(.light) {
  .appSectionTitleBar {
    border-color: $primaryColor;
  }
}
:global(.dark) {
  .appSectionTitleBar {
    border-color: $darkPrimaryColor;
  }
}

@media screen and (min-width: 768px) {
  .appSectionText {
    font-size: 1.5rem;
  }
}
