@import '../../styles/variables.scss';
.appHeader {
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .appTitle {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
