@import '../../styles/variables.scss';

button.themeSwitcher {
  border: none;
  border-radius: 50px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in;
  background-color: transparent;
}

:global(.light) {
  button.themeSwitcher {
    color: $textColor;
    background-color: $sheetAccent1;
    box-shadow: $thinShadow;

    &:hover {
      background-color: $sheetColor;
    }
  }
}
:global(.dark) {
  button.themeSwitcher {
    color: $darkTextColor;
    background-color: $darkSheetAccent1;
    box-shadow: $darkThinShadow;

    &:hover {
      background-color: $darkSheetColor;
    }
  }
}
