@import '../../styles/variables.scss';

#home-page {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    flex-grow: 1;
  }
}
